<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('./includes/navigations.ejs') %>
    <h1>Xin chào <%= staff.name %></h1>

    
    <div class="card__actions">
        <a href="/staff/time-log" class="btn">Attendance</a>
        <a href="/staff/annual-leave" class="btn">Annual Leave</a>
        
    </div>

</body>

<%- include('includes/end.ejs') %>